  /** Responsive styles included for iframe and object options  **/
  .gameIframe-iframe-holder {
    position: relative;
    height: 600px;

    @media (max-width: @device-width-medium) {
      height: 450px !important;
    }

    @media (max-width: @device-width-small) {
      height: 250px !important;
    }


  }

  .gameIframe-object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.game-frame__header {
  text-align: center;
}
