{{! Maintainers - Kristin Anthony}}
<div class="component__inner gameIframe__inner">
  {{> component this}}
  <div class="component__widget gameIframe__widget">
    <div class="gameIframe-iframe-holder">
      <iframe scrolling="{{#if _scrolling}}{{_scrolling}}{{else}}no{{/if}}" class="gameIframe-iframe" src="assets/game.html" style="height:545px; width:100%">
      </iframe>
      <!-- <object type="text/html" data="" class="gameIframe-object"></object> -->
    </div>
  </div>
</div>
